<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare"
        tools:targetApi="31">
        <activity
            android:name=".MyHeathActivity"
            android:exported="false" />
        <activity
            android:name=".EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".ManagePostActivity"
            android:exported="false" />
        <activity
            android:name=".PostHomeActivity"
            android:exported="false" />
        <activity
            android:name=".NewsPostActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentTodayDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentTodayActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentRequiredDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MyPatientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MyPatientActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentRequiredActivity"
            android:exported="false" />
        <activity
            android:name=".BookSuccessActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".LoginSplashActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SplashActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".BookingDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".BMIresult"
            android:exported="false" />
        <activity
            android:name=".BMICalculator"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationBook"
            android:exported="false" />
        <activity
            android:name=".DoctorEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SearchPatActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomePatientActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AppointmentReminderService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>